<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Handwriting Recognition</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar box-shadow">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Handwriting Recognition</a>
        </nav>
    </header>
    <div class="wrapper">
        <div class="sidebar">
            <ul>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Write</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="PredictOnImage">Upload</a>
                </li>
            </ul>
        </div>
        <div class="content">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="footer text-muted">
        &copy; @DateTime.Now.Year - Handwriting Recognition
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
