@{ ViewData["Title"] = "Write"; }

<div class="write-wrapper">
    <div class="write-area text-center">
        <div class="canvas">
            <canvas id="canvas" width="256" height="256"></canvas>
        </div>
        <div id="clearArea" class="close-button"></div>
        <div class="predict-button" id="check">
            <div class="icon">
                <div class="arrow"></div>
            </div>
            <div class="icon2">
                <div class="arrow2"></div>
            </div>
        </div>
    </div>
    <div class="write-result text-center">
        <p id="prediction">?</p>
    </div>
</div>

@section Scripts {
    <script src="~/js/write.js" asp-append-version="true"></script>
}